.boxSubDesign{
    height: 109px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #080110;
    color: #ff8ccb;
    align-items: center;
    border: 1px solid #fb008a;
    border-radius: 5px;
}

.boxSubDev{
    height: 109px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #080110;
    color: #abc9ff;
    align-items: center;
    border: 1px solid #0e62ff;
    border-radius: 5px;
}

.infosBoxSub{
 
    border-radius: 5px;
    width: 90px;
}

.txtBoxSub{
    margin-left: 3px;
    font-size: 11px;
    margin-top: 5px;
}

.imgBoxSub{
    margin-top: -5px;
    margin-bottom: 5px;
    height: 50px;
    width: 50px;

}
.xpBoxSubDesign{
    height: 22px;
    background-color: #57002e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 90px;
    letter-spacing: 5px;
    
}
.xpBoxSubDev{
    height: 22px;
    background-color: #00215e;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    width: 90px;
    letter-spacing: 5px;
    
}

.starXP{
    margin-left: 2px;
    margin-right: 2px;
}
