.rodapeEstiloDev{
    height: 20px;
    font-size: 12px;
    z-index: 16;
    transition: all ease 3s;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    margin-top: 25px;
    border: 1px solid #0e62ff;
    background-image: url(../../../../public/dev/back.png);
}

.rodapeEstiloDesign{
    height: 20px;
    font-size: 12px;
    z-index: 16;
    transition: all ease 3s;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    margin-top: 25px;
    border: 1px solid #fb008a;
    background-image: url(../../../../public/design/back.png);
}

.rodapeEstiloHome{
    height: 20px;
    font-size: 12px;
    z-index: 16;
    transition: all ease 3s;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    margin-top: 25px;
    border: 1px solid #7e0eff;
    background-image: url(../../../../public/home/back.png);
 }