.pageContentForms {
    position: absolute;
    left: 0px;
    bottom: 28px;
    top:0px;
    right:0px;
    margin-top: 40px;
    overflow-y: auto;
    text-align: left;
    margin-left: 10px;
    overflow-x: hidden;

}
.contentPageDetForm{
    position: absolute;
    left: 0px;
    bottom: 28px;
    top:0px;
    right:0px;
    margin-top: 40px;
}
.contentChat {
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
    word-wrap: break-word;
    margin-top: 5px;
}


.boxResposta {
    position: absolute;
    bottom: 0; /* Alinha a div ao fundo da viewport */
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px; /* Adiciona padding interno */
    box-sizing: border-box;
    margin-bottom: 15px; /* Remove a margem para garantir alinhamento com o fundo */
}

.iconOpenForm {
    cursor: pointer;
}

.buttonWrapper {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.buttonEnviarResp,
.buttonExcluirForm {
    width: 25px; /* Aumenta a largura para melhor legibilidade */
    height: 25px; /* Aumenta a altura para melhor legibilidade */
    background-color: rgba(255, 255, 255, 0.582);
    color: #000000; /* Cor do texto para contraste */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buttonEnviarResp:hover,
.buttonExcluirForm:hover {
    background-color: rgb(255, 255, 255); /* Muda a cor de fundo ao passar o mouse */
}

.inputResposta {
    flex-grow: 1; /* O input ocupa o espaço restante */
    height: 100%;
    background-color: rgb(194, 194, 194);
    color: #000000; /* Cor do texto para contraste */
    border: none; /* Remove borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    box-sizing: border-box;
    padding: 5px; /* Padding interno para texto */
    margin-right: 10px;

}

.excluirForm{
    background-color: #000000;
    left: 0px;
    bottom: 0px;
    top:0px;
    right:0px;
    position: absolute;
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 50;
}
.buttonsExcluir{
width: 100%;
display: block;

}