.pageContentForms {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Altura mínima igual à altura da viewport */
    width: 100%;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box; /* Inclui padding e border no tamanho total da div */
    overflow-x: hidden; /* Impede a rolagem horizontal */
    margin-top: 35px;
}

.contentPageDetForm {
    text-align: left;
    background-color: rgb(0, 0, 0);
    width: 100%; /* Ajusta para ocupar toda a largura disponível */
    max-width: calc(100% - 0px); /* Largura máxima para respeitar as margens da página */
    max-height: calc(100vh - 110px); /* Altura máxima para a página menos margens e outros elementos */
    overflow-y: auto; /* Permite rolagem vertical quando necessário */
    padding: 0px; /* Adiciona padding interno */
    box-sizing: border-box;
    border-radius: 5px; /* Bordas arredondadas */
    min-width: 100%;
    word-wrap: break-word; /* Quebra o texto quando atinge o limite da div */
    word-break: break-word; /* Quebra as palavras longas */
}

@media (max-width: 768px) {
    .contentPageDetForm {
        max-width: calc(100% ); /* Ajuste para dispositivos menores */
    }
}

.boxResposta {
    position: fixed; /* Fixa a div na posição */
    bottom: 0; /* Alinha a div ao fundo da viewport */
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px; /* Adiciona padding interno */

    box-sizing: border-box;

    margin: 0; /* Remove a margem para garantir alinhamento com o fundo */
    margin-bottom: 45px;
 
}

.iconOpenForm {
    cursor: pointer;
}

.buttonWrapper {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.buttonEnviarResp,
.buttonExcluirForm {
    width: 25px; /* Aumenta a largura para melhor legibilidade */
    height: 25px; /* Aumenta a altura para melhor legibilidade */
    background-color: rgba(255, 255, 255, 0.582);
    color: #000000; /* Cor do texto para contraste */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buttonEnviarResp:hover,
.buttonExcluirForm:hover {
    background-color: rgb(255, 255, 255); /* Muda a cor de fundo ao passar o mouse */
}

.inputResposta {
    flex-grow: 1; /* O input ocupa o espaço restante */
    height: 100%;
    background-color: rgb(194, 194, 194);
    color: #000000; /* Cor do texto para contraste */
    border: none; /* Remove borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    box-sizing: border-box;
    padding: 5px; /* Padding interno para texto */
    margin-right: 10px;
}
