.conversaHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .deleteButton {
    background-color: rgb(131, 131, 131);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
  }
  
  .deleteButton:hover {
    background-color: rgb(211, 211, 211);
  }
  

.boxItemContato {
    text-align: center; /* Centraliza todo o texto dentro de .boxItemContato */
    margin-bottom: 20px; /* Espaçamento entre os itens de contato */
    padding: 10px; /* Espaço interno para melhorar a estética */
    border-radius: 8px; /* Canto arredondado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para dar destaque */
  }
  
  .fotoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px; /* Espaçamento entre as fotos e o texto */
  }
  
  .fotoContato {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  p {
    margin: 5px 0; /* Margem para os parágrafos */
  }
  


.boxItemConversa {

    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    background-color: #ffffff0c; /* Cor de fundo */
    cursor: pointer;
}

.boxItemContato {

    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    background-color: #ffffff0c; /* Cor de fundo */
    cursor: pointer;
  }
  
  
.pageContentForms {
    position: absolute;
    left: 0;
    bottom: 28px;
    top: 0;
    right: 0;
    margin-top: 55px;
    overflow-y: auto;
    text-align: left;
    margin-left: 10px;
    overflow-x: hidden;
    margin-right:  10px;
    margin-bottom: 15px;
}

.contentPageDetForm {
    position: absolute;
    left: 0;
    bottom: 28px;
    top: 0;
    right: 0;
    margin-top: 40px;
}

.contentChat {
    height: calc(100% - 110px);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
    word-wrap: break-word;
    margin-top: 15px;
}

.boxResposta {
    position: absolute;
    bottom: 0; /* Alinha a div ao fundo da viewport */
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px; /* Adiciona padding interno */
    box-sizing: border-box;
    margin-bottom: 15px; /* Remove a margem para garantir alinhamento com o fundo */
}

.iconOpenForm {
    cursor: pointer;
}

.buttonWrapper {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.buttonEnviarResp {
    width: 50px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.582);
    color: #000000; /* Cor do texto para contraste */
    font-size: 16px; /* Aumenta o tamanho da fonte */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buttonExcluirForm {
    width: 90px;
    height: 25px; /* Aumenta a altura para melhor legibilidade */
    background-color: rgba(255, 255, 255, 0.582);
    color: #000000; /* Cor do texto para contraste */
    font-size: 12px; /* Aumenta o tamanho da fonte */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
}

.buttonEnviarResp:hover,
.buttonExcluirForm:hover {
    background-color: rgb(255, 255, 255); /* Muda a cor de fundo ao passar o mouse */
}

.inputResposta {
    flex-grow: 1; /* O input ocupa o espaço restante */
    height: 100%;
    background-color: rgb(209, 209, 209);
    color: #000000; /* Cor do texto para contraste */
    border: none; /* Remove borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    box-sizing: border-box;
    padding: 5px; /* Padding interno para texto */
    margin-right: 10px;
    text-align:initial;
}

.excluirForm {
    background-color: #000000;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 50;
}

.buttonsExcluir {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none; /* Remove os pontos */
    padding-left: 0; /* Remove o espaçamento à esquerda */
}

li {
    margin: 0; /* Remove a margem padrão dos itens da lista, se necessário */
    padding: 0; /* Remove o preenchimento padrão dos itens da lista, se necessário */
}

.dataResposta {
    font-size: 11px;
    text-align: center; /* Centraliza o texto da data */
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.034);
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.resposta-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px; /* Espaçamento entre as respostas */
}

.resposta-enviada {
    align-self: flex-end; /* Alinha o item à direita do contêiner */
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-all;
    align-items: flex-end;
    text-align: right; /* Alinha o texto à direita */
    margin-right: 10px;
}

.resposta-recebida {
    align-self: flex-start; /* Alinha o item à esquerda do contêiner */
    text-align: left;
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 10px;
}


/* Adiciona estilo para garantir que as respostas fiquem alinhadas corretamente */
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resposta-foto {
    margin-right: 10px; /* Espaçamento entre a foto e o texto */
}

.fotoUsuario {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.resposta-texto {
    align-self: flex-start; /* Alinha o item à esquerda do contêiner */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.062);
    padding: 10px;
}

.sem-foto .resposta-texto {
    margin-left: 35px; /* Compensa a margem quando a foto não é exibida */
}
