/* CSS para o menu */
.openMenu {
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100dvh; /* Ajuste conforme necessário */
    z-index: 35; /* Z-index para o menu aberto */
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.007);
    overflow: auto; /* Permite rolar o conteúdo */
    padding: 20px; /* Adiciona padding para espaçamento interno */
    margin: 0; /* Remove margin */
    overflow-y: hidden;
    overflow-x: hidden;
}

.headMenu {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    width: 100%; /* Garante que ocupe a largura total disponível */
    position: fixed; /* Fixa a div no topo */
    top: 0; /* Posiciona no topo */
    padding: 5px; /* Adiciona padding para espaçamento interno */
    z-index: 40; /* Z-index para sobrepor outros elementos */
    background-color: rgba(255, 255, 255, 0.075);
    border-color: black;
    
}

.back {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    color: inherit;
    font-size: 16px;
    z-index: 37; /* Z-index padrão para botões de voltar */
    flex: 0 1 auto; /* Flexbox item que ocupa espaço conforme necessário */
}

.pageAtual {
    font-weight: bold;
    flex: 1 1 auto; /* Flexbox item que ocupa o espaço restante */
    text-align: center; /* Centraliza o texto */
    font-size: 24px; /* Ajusta o tamanho da fonte conforme necessário */
    margin-left: 10px; /* Espaço entre os itens */
    text-align: left;
}

.tituloPageMenu {
    margin: 0px;
    text-decoration: none;
    color: inherit;
    position: absolute;
    top: 9px;
    left: 30px;
    margin-bottom: 200px;
    font-size: 15px;
}

.mostra {
    display: flex;
    flex-direction: column;
}

.oculta {
    display: none;
}

.scroll-lock {
    overflow: hidden;
}

.gavetaOption {
    position: relative;
    padding: 5px; /* Aumenta o padding para melhor legibilidade */
    margin: 5px 0; /* Adiciona margem entre os itens */

    border-radius: 5px; /* Bordas arredondadas */
    transition: font-size 0.3s ease, background-color 0.3s ease; /* Suaviza transições */
    cursor: pointer;
}

.gavetaOption::before,
.gavetaOption::after {
    content: '';
    position: absolute;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease;
}

.gavetaOption::before {
    left: -20px; /* Espaço antes do texto */
}

.gavetaOption::after {
    right: -20px; /* Espaço depois do texto */
}

.gavetaOption.highlight,
.gavetaOption:hover {
    font-size: 1.7em;
    font-weight: bold;
}

.gavetaOption.highlight::before,
.gavetaOption:hover::before {
    content: '❱';
    opacity: 1; /* Torna visível ao passar o mouse */
}

.gavetaOption.highlight::after,
.gavetaOption:hover::after {
    content: '❰';
    opacity: 1; /* Torna visível ao passar o mouse */
}

.back-detail {
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    position: absolute;
    top: 11px;
    left: 30px;
    z-index: 38; /* Z-index maior para sobrepor */
    font-size: 22px;    

}
